.footerWrapper {
  background-color: #ff5555;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}


.footerText {
  color: white;
  text-align: center;
}

a {
  text-decoration: none;
  color: #ffea9f;
}

@media screen and (max-width: 600px) {
  .footerWrapper {
    flex-direction: column;
  }
}
